<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eazzl Online Shope | Eazzl</title>

    <!-- StyleSheet -->
    <link rel="stylesheet" href="style.css" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/favicon/favicon-32x32.png"
      type="image/x-icon"
    />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/c6ec2e0683.js"
      crossorigin="anonymous"
    ></script>

    <!-- Javascript -->
    <script defer src="app.js"></script>
    <script defer src="create_account.js"></script>
  </head>

  <body>
    <!-- All modal section -->
    <!-- search modal -->
    <div search-wrapper class="search-wrapper">
      <div class="search-container">
        <input
          search-input
          class="search__input"
          placeholder="Type to search..."
          type="text"
        />
        <div class="search-btn__wrapper">
          <!-- arrow icon -->
          <svg search-arrow class="icon">
            <use xlink:href="/images/sprite.svg#right_arrow"></use>
          </svg>
          <!-- search icon -->
          <svg search-icon class="icon active">
            <use xlink:href="/images/sprite.svg#search"></use>
          </svg>
        </div>
      </div>
      <svg btn-cancel class="icon search__icon-cancel">
        <use xlink:href="/images/sprite.svg#cancle"></use>
      </svg>
    </div>

    <!-- Header section -->
    <header>
      <!-- Promotion bar -->
      <div class="promotion-bar">
        <p>Save 5% on Entire Order with Digital Payment</p>
      </div>

      <!-- NavBar -->
      <nav class="nav-wrapper nav-wrapper--homepage">
        <div class="navbar container">
          <!-- Logo -->
          <div class="logo">
            <a href="#">
              <img
                class="nav__logo--icon active"
                src="./images/logo/logo_icon.png"
                alt="Logo Icon"
              />
              <img
                class="nav__logo--text"
                src="./images/logo/logo_text.png"
                alt="Logo Text"
              />
            </a>
          </div>

          <!-- Nav links -->
          <ul class="nav__links">
            <li nav-link class="profile__mobile">
              <a href="profile.html"> Profile </a>
            </li>
            <li nav-link><a href="index.html">Home</a></li>
            <li nav-link nav-link-new-arrivals><a>New Arrivals</a></li>
            <li nav-link nav-link-collections class="collection__navbar">
              <a>Collections</a>
            </li>
            <li nav-link>
              <a href="best_sellers.html">Best Sellers</a>
            </li>
            <li nav-link><a href="sales.html">Sales</a></li>
          </ul>

          <!-- New arrivals dropdown (Nav links) -->
          <ul nav-link-newArrival-wrapper class="nav__links--dropdown">
            <ul>
              <li class="dropdown--heading">
                <a>Men</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Chinos</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Joggers</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Women</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Shalwar Kameez</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Tops</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Leggings</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Kids</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Accessories</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Watches</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Wallet</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Men's Belt</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Bags</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <svg back-btn-newArrival class="icon icon__left--nav">
              <use xlink:href="/images/sprite.svg#left"></use>
            </svg>
          </ul>

          <!-- Collection dropdown (Nav links) -->
          <ul nav-link-collections-wrapper class="nav__links--dropdown">
            <ul>
              <li class="dropdown--heading">
                <a>Men</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Chinos</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Joggers</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Women</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Shalwar Kameez</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Tops</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Leggings</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Kids</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Accessories</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Watches</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Wallet</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Men's Belt</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Bags</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <svg back-btn class="icon icon__left--nav">
              <use xlink:href="/images/sprite.svg#left"></use>
            </svg>
          </ul>

          <!-- Navbar icons (PC) -->
          <div class="icon-wrapper icon-wrapper-pc">
            <svg search-btn class="icon icon--navbar">
              <use xlink:href="/images/sprite.svg#search"></use>
            </svg>
            <a bag-btn class="nav__icon-bag" href="your_bag.html">
              <svg class="icon icon--navbar navbar__bag-icon">
                <use xlink:href="/images/sprite.svg#bag"></use>
              </svg>
              <div class="bag__notification">
                <p class="bag__product-count"></p>
              </div>
            </a>
            <a href="profile.html">
              <svg class="icon icon--navbar icon-nav__profile">
                <use xlink:href="/images/sprite.svg#profile"></use>
              </svg>
            </a>
          </div>

          <!-- Navbar icons (Mobile) -->
          <div class="icon-wrapper icon-wrapper-mobile">
            <svg search-btn class="icon icon--navbar">
              <use xlink:href="/images/sprite.svg#search"></use>
            </svg>
            <a class="nav__icon-bag" href="your_bag.html">
              <svg class="icon icon--navbar navbar__bag-icon">
                <use xlink:href="/images/sprite.svg#bag"></use>
              </svg>
              <div class="bag__notification">
                <p class="bag__product-count"></p>
              </div>
            </a>
            <div class="hamburger" id="hamburger">
              <div>
                <span class="line-1"></span>
                <span class="line-2"></span>
              </div>
            </div>
          </div>

          <!-- Bag popup -->
          <div bag-wrapper class="bag__wrapper">
            <!-- When bag is empty -->
            <div empty-bag class="empty-bag active">
              <h3>Your bag is empty</h3>
            </div>

            <!-- When there is product or products in bag -->
            <div bag-items class="items-bag active">
              <h3 class="items-bag__title">In Your Bag</h3>
              <!-- Selected Items -->
              <section class="bag-items__wrapper">
                <!-- Item 1 -->
                <div class="bag__shipping-item">
                  <img
                    class="shipping-item__image"
                    src="/images/product_image/2.jpg"
                    alt="Product image"
                  />
                  <div class="bag__selected-item">
                    <h3>Eid Collection Panjabi</h3>
                    <p>Product-code: ABCDEF</p>
                    <p>Color: Black</p>
                    <h3>BDT 12,120</h3>
                    <i class="fa-solid fa-trash-can bag__item-delete"></i>
                  </div>
                </div>
                <!-- Item 2 -->
                <div class="bag__shipping-item">
                  <img
                    class="shipping-item__image"
                    src="/images/product_image/3.jpg"
                    alt="Product image"
                  />
                  <div class="bag__selected-item">
                    <h3>Eid Collection Panjabi</h3>
                    <p>Product-code: ABCDEF</p>
                    <p>Color: Black</p>
                    <h3>BDT 12,120</h3>
                    <i class="fa-solid fa-trash-can bag__item-delete"></i>
                  </div>
                </div>
              </section>

              <div class="flex space-between bag__subtotal">
                <h3>Subtotal</h3>
                <h3>BDT 12,000</h3>
              </div>

              <!-- View bag Btn (Primary Btn) -->
              <a href="your_bag.html"
                ><button class="btn btn--primary btn--block">
                  View Bag
                </button></a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Body -->
    <main class="nav--margin-100">
      <section class="gap--4x8 input--card input--single-card">
        <!-- Create Account -->
        <section class="form-container container--60vw">
          <h2 class="page-title">Create Account</h2>
          <form id="create-account__form" action="checkout_method.html">
            <!-- Form input -->
            <div class="form__input-wrapper">
              <div class="input__wrapper">
                <input
                  id="ca__username"
                  class="input"
                  placeholder="Your Name"
                  type="text"
                />
                <i id="success-sign" class="fa-solid fa-circle-check"></i>
                <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
                <p class="error-text">Error Message</p>
              </div>
              <div class="input__wrapper">
                <input
                  id="ca__phone-no"
                  class="input"
                  placeholder="Phone Number"
                  type="tel"
                />
                <i id="success-sign" class="fa-solid fa-circle-check"></i>
                <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
                <p class="error-text">Error Message</p>
              </div>
              <div class="input__wrapper">
                <input
                  id="ca__email"
                  class="input"
                  placeholder="Email (optional)"
                  type="email"
                />
                <i id="success-sign" class="fa-solid fa-circle-check"></i>
                <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
                <p class="error-text">Error Message</p>
              </div>
              <div class="input__wrapper">
                <input
                  id="ca__password"
                  class="input"
                  placeholder="Password"
                  type="password"
                />
                <i id="success-sign" class="fa-solid fa-circle-check"></i>
                <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
                <p class="error-text">Error Message</p>
              </div>
              <div class="input__wrapper">
                <input
                  id="ca__password-confirm"
                  class="input"
                  placeholder="Confirm Password"
                  type="password"
                />
                <i id="success-sign" class="fa-solid fa-circle-check"></i>
                <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
                <p class="error-text">Error Message</p>
              </div>
              <div class="input__wrapper">
                <div class="checkbox">
                  <input type="checkbox" id="terms-service" />
                  <label for="terms-service"
                    >I agree to the
                    <a href="unavailable_page.html">Terms of Service</a> and
                    <a href="unavailable_page.html">Privacy Policy</a></label
                  >
                </div>
                <div id="terms-error-message" class="">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  <p class="error-text active">Error Message</p>
                </div>
              </div>
            </div>

            <!-- Arrow Button -->
            <button
              id="create-account__submit-btn"
              type="submit"
              class="btn btn__arrow btn__arrow--primary btn--block"
            >
              Sign Up
              <svg class="icon icon__right-arrow">
                <use xlink:href="/images/sprite.svg#right_arrow"></use>
              </svg>
            </button>
          </form>
        </section>
      </section>
    </main>

    <!-- Footer Secondary Start -->
    <footer class="footer-secondary">
      <section class="container">
        <div class="footer__bottom-section">
          <div class="footer__copyright">
            <p>
              &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              Eazzl, Inc. All Rights Reserved
            </p>
          </div>

          <div class="footer__policy">
            <a href="unavailable_page.html">Payment Policy</a>
            <a href="unavailable_page.html">Shipping Policy</a>
            <a href="unavailable_page.html">Terms & Conditions</a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
