{% extends "_base.html" %}
{% load static %}

{% block content %}
    <!-- Body -->
    <main>
      <div class="hero-section">
        <div class="hero__image"></div>
        <div class="hero__text-wrapper">
          <h2>Find Out Our</h2>
          <h1>New Collections</h1>
          <!-- Arrow Button Start -->
          <a href="{% url "new_arrivals" %}">
            <button class="btn__hero btn btn__arrow btn__arrow--primary">
              Shop Now
              <svg class="icon icon__right-arrow">
                <use xlink:href="{% static "images/sprite.svg#right_arrow" %}"></use>
              </svg></button
          ></a>
        </div>
      </div>

      <!-- Popular product section -->
      <section class="product__wrapper bag__container--80vw">
        <h2 class="product__title">POPULAR RIGHT NOW</h2>
        <!-- Products Slider -->
        <section
          id="recommendation-products"
          class="product-card__wrapper card-scroller snaps-inline product__container bag__container--80vw"
        >
          <!-- Product 1 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="{% static "images/product_image/1.jpg" %}"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="{% static "images/product_image/1 Hover.jpg" %}"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Nike Shoes</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 2 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="/images/product_image/2.jpg"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="/images/product_image/2 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Headphone</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 3 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="/images/product_image/3.jpg"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="/images/product_image/3 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Women's T-shirt</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 4 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="/images/product_image/4.jpg"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="/images/product_image/4 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Men's Shirt</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 5 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/5.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/5 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Men's Watch</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 6 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/6.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/6 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Women's Sunglass</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 7 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/7.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/7 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Men's Wallet</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 8 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/8.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/8 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Men's Chinos</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>

          <!-- Product 9 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/10.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/10 Hover.jpg"
                  alt="Product image"
                />
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Women's Handbag</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 6,000</h3>
              </div>
            </div>
          </a>
        </section>

        <a href="best_sellers.html">
          <button
            class="btn__bottom-margin btn btn--primary btn__arrow--220 btn__gap"
          >
            Load More
          </button>
        </a>
      </section>

      <!-- Product banner -->
      <div>
        <img
          class="hero__image--second"
          src="/images/background/2.jpg"
          alt=""
        />
      </div>

      <!-- Sells product section -->
      <section class="product__wrapper bag__container--80vw">
        <h2 class="product__title">SELLS GOING ON</h2>
        <!-- Recommendation Products Slider -->
        <section
          id="recommendation-products"
          class="product-card__wrapper card-scroller snaps-inline product__container"
        >
          <!-- Sale product 1 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="/images/product_image/1.jpg"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="/images/product_image/1 Hover.jpg"
                  alt="Product image"
                />
                <div class="card-sales">
                  50% <br />
                  OFF
                </div>
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Nike Shoes</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 3,000</h3>
                <h3 class="card__price card__price-previous">BDT 6,000</h3>
                <div class="card__details-wrapper"></div>
                <div class="card__details-wrapper"></div>
                <div class="card__size">
                  <span class="card__size--available">
                    <p>S</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>M</p>
                  </span>
                  <span class="card__size--available">
                    <p>L</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>XL</p>
                  </span>
                </div>
              </div>
            </div>
          </a>

          <!-- Sale product 2 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="/images/product_image/2.jpg"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="/images/product_image/2 Hover.jpg"
                  alt="Product image"
                />
                <div class="card-sales">
                  50% <br />
                  OFF
                </div>
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Headphone</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 3,000</h3>
                <h3 class="card__price card__price-previous">BDT 6,000</h3>
                <div class="card__details-wrapper"></div>
                <div class="card__details-wrapper"></div>
                <div class="card__size">
                  <span class="card__size--available">
                    <p>S</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>M</p>
                  </span>
                  <span class="card__size--available">
                    <p>L</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>XL</p>
                  </span>
                </div>
              </div>
            </div>
          </a>

          <!-- Sale product 3 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="/images/product_image/3.jpg"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="/images/product_image/3 Hover.jpg"
                  alt="Product image"
                />
                <div class="card-sales">
                  50% <br />
                  OFF
                </div>
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Women's T-shirt</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 3,000</h3>
                <h3 class="card__price card__price-previous">BDT 6,000</h3>
                <div class="card__details-wrapper"></div>
                <div class="card__details-wrapper"></div>
                <div class="card__size">
                  <span class="card__size--available">
                    <p>S</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>M</p>
                  </span>
                  <span class="card__size--available">
                    <p>L</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>XL</p>
                  </span>
                </div>
              </div>
            </div>
          </a>

          <!-- Sale product 4 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image-front"
                  src="/images/product_image/4.jpg"
                  alt="Product image"
                />
                <img
                  class="card__image card__image-hover"
                  src="/images/product_image/4 Hover.jpg"
                  alt="Product image"
                />
                <div class="card-sales">
                  50% <br />
                  OFF
                </div>
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Men's Shirt</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 3,000</h3>
                <h3 class="card__price card__price-previous">BDT 6,000</h3>
                <div class="card__details-wrapper"></div>
                <div class="card__details-wrapper"></div>
                <div class="card__size">
                  <span class="card__size--available">
                    <p>S</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>M</p>
                  </span>
                  <span class="card__size--available">
                    <p>L</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>XL</p>
                  </span>
                </div>
              </div>
            </div>
          </a>

          <!-- Sale product 5 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/5.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/5 Hover.jpg"
                  alt="Product image"
                />
                <div class="card-sales">
                  50% <br />
                  OFF
                </div>
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Men's Watch</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 3,000</h3>
                <h3 class="card__price card__price-previous">BDT 6,000</h3>
                <div class="card__details-wrapper"></div>
                <div class="card__details-wrapper"></div>
                <div class="card__size">
                  <span class="card__size--available">
                    <p>S</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>M</p>
                  </span>
                  <span class="card__size--available">
                    <p>L</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>XL</p>
                  </span>
                </div>
              </div>
            </div>
          </a>

          <!-- Sale product 6 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/6.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/6 Hover.jpg"
                  alt="Product image"
                />
                <div class="card-sales">
                  50% <br />
                  OFF
                </div>
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Women's Sunglass</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 3,000</h3>
                <h3 class="card__price card__price-previous">BDT 6,000</h3>
                <div class="card__details-wrapper"></div>
                <div class="card__details-wrapper"></div>
                <div class="card__size">
                  <span class="card__size--available">
                    <p>S</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>M</p>
                  </span>
                  <span class="card__size--available">
                    <p>L</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>XL</p>
                  </span>
                </div>
              </div>
            </div>
          </a>

          <!-- Sale product 7 -->
          <a href="product_page.html">
            <div class="product-card">
              <div class="card__image-wrapper">
                <img
                  loading="lazy"
                  class="card__image card__image-front"
                  src="/images/product_image/7.jpg"
                  alt="Product image"
                />
                <img
                  loading="lazy"
                  class="card__image card__image-hover"
                  src="/images/product_image/7 Hover.jpg"
                  alt="Product image"
                />
                <div class="card-sales">
                  50% <br />
                  OFF
                </div>
              </div>
              <div class="card__details-wrapper">
                <h3 class="card__title">Men's Wallet</h3>
                <p class="card__product-code">Product-code: ABCDEF</p>
                <h3 class="card__price">BDT 3,000</h3>
                <h3 class="card__price card__price-previous">BDT 6,000</h3>
                <div class="card__details-wrapper"></div>
                <div class="card__details-wrapper"></div>
                <div class="card__size">
                  <span class="card__size--available">
                    <p>S</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>M</p>
                  </span>
                  <span class="card__size--available">
                    <p>L</p>
                  </span>
                  <span class="card__size--unavailable">
                    <p>XL</p>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </section>
        <a href="sales.html">
          <button
            class="btn__bottom-margin btn btn--primary btn__arrow--220 btn__gap"
          >
            Load More
          </button>
        </a>
      </section>
      <div class="promotion-banner__bottom">
        <h2>Join EAZZL and get 15% off</h2>

        <a href="create_account_page.html">
          <button class="btn btn__arrow btn__arrow--primary btn__arrow--180">
            Sign Up
            <svg class="icon icon__right-arrow">
              <use xlink:href="{% static "images/sprite.svg#right_arrow" %}"></use>
            </svg></button
        ></a>
      </div>


{% endblock content %}
