{% extends "_base.html" %}
{% load static %}

{% block content %}
<body>
  <!-- Body -->
  <main class="nav--margin-100">
    <!-- All products -->
    <section class="product-grid grid ultimate-product__grid--1x3 container">
      <!-- Product 1 -->
      <a href="{{ product.get_absolute_url }}">
        {% for product in product_list %}
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              class="card__image card__image-front"
              src="/images/product_image/1.jpg"
              alt="Product image"
              />
            <img
              class="card__image card__image-hover"
              src="/images/product_image/1 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">{{ object.name }}</h3>
            <p class="card__product-code">{{ product.product_code }}</p>
            <h3 class="card__price">{{ product.price }}</h3>
          </div>
        </div>
        {% endfor %}
      </a>

      <!-- Product 2 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              class="card__image card__image-front"
              src="/images/product_image/2.jpg"
              alt="Product image"
              />
            <img
              class="card__image card__image-hover"
              src="/images/product_image/2 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Headphone</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>

      <!-- Product 3 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              class="card__image card__image-front"
              src="/images/product_image/3.jpg"
              alt="Product image"
              />
            <img
              class="card__image card__image-hover"
              src="/images/product_image/3 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Women's T-shirt</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>

      <!-- Product 4 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              class="card__image card__image-front"
              src="/images/product_image/4.jpg"
              alt="Product image"
              />
            <img
              class="card__image card__image-hover"
              src="/images/product_image/4 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Men's Shirt</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>

      <!-- Product 5 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              loading="lazy"
              class="card__image card__image-front"
              src="/images/product_image/5.jpg"
              alt="Product image"
              />
            <img
              loading="lazy"
              class="card__image card__image-hover"
              src="/images/product_image/5 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Men's Watch</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>

      <!-- Product 6 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              loading="lazy"
              class="card__image card__image-front"
              src="/images/product_image/6.jpg"
              alt="Product image"
              />
            <img
              loading="lazy"
              class="card__image card__image-hover"
              src="/images/product_image/6 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Women's Sunglass</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>

      <!-- Product 7 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              loading="lazy"
              class="card__image card__image-front"
              src="/images/product_image/7.jpg"
              alt="Product image"
              />
            <img
              loading="lazy"
              class="card__image card__image-hover"
              src="/images/product_image/7 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Men's Wallet</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>

      <!-- Product 8 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              loading="lazy"
              class="card__image card__image-front"
              src="/images/product_image/8.jpg"
              alt="Product image"
              />
            <img
              loading="lazy"
              class="card__image card__image-hover"
              src="/images/product_image/8 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Men's Chinos</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>

      <!-- Product 9 -->
      <a href="product_page.html">
        <div class="product-card">
          <div class="card__image-wrapper">
            <img
              loading="lazy"
              class="card__image card__image-front"
              src="/images/product_image/10.jpg"
              alt="Product image"
              />
            <img
              loading="lazy"
              class="card__image card__image-hover"
              src="/images/product_image/10 Hover.jpg"
              alt="Product image"
              />
          </div>
          <div class="card__details-wrapper">
            <h3 class="card__title">Women's Handbag</h3>
            <p class="card__product-code">Product-code: ABCDEF</p>
            <h3 class="card__price">BDT 6,000</h3>
          </div>
        </div>
      </a>
    </section>
    <button class="btn__bottom-margin btn btn--primary btn__arrow--220">
      Load More
    </button>
  </main>

  <!-- script -->
  <script>
    //Total Product Counter
    const productCard = document.querySelectorAll('.product-card');
    const itemCount = document.querySelector('[item-count]');

    function totalItemCount() {
        itemCount.innerText = `${productCard.length} items`;
    }
    totalItemCount();
  </script>
</body>

{% endblock content %}
