<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eazzl Online Shope | Eazzl</title>

  <!-- StyleSheet -->
  <link rel="stylesheet" href="style.css" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon/favicon-32x32.png" type="image/x-icon" />

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/c6ec2e0683.js" crossorigin="anonymous"></script>

  <!--Javascript -->
  <script defer src="app.js "></script>
  <script defer src="payment_method_outside_dhaka.js"></script>
</head>

<body>
 <!-- All modal section -->
    <!-- search modal -->
    <div search-wrapper class="search-wrapper">
      <div class="search-container">
        <input
          search-input
          class="search__input"
          placeholder="Type to search..."
          type="text"
        />
        <div class="search-btn__wrapper">
          <!-- arrow icon -->
          <svg search-arrow class="icon">
            <use xlink:href="/images/sprite.svg#right_arrow"></use>
          </svg>
          <!-- search icon -->
          <svg search-icon class="icon active">
            <use xlink:href="/images/sprite.svg#search"></use>
          </svg>
        </div>
      </div>
      <svg btn-cancel class="icon search__icon-cancel">
        <use xlink:href="/images/sprite.svg#cancle"></use>
      </svg>
    </div>

     <!-- Successful Card Message -->
  <section successful-message class="card-successfull__overlay">
    <div class="card-successful">
      <h2 successful-card-header>Your Order is Complete!</h2>
      <p>You will be receiving a confirmation message with order details</p>
      <!-- Link button -->
      <a class="btn-link" href="#">View Invoice</a>
      <div class="btn__wrapper">
        <!-- Arrow Button -->
        <div>
          <a href="new_arrivals.html">
            <button class="btn btn__arrow btn__arrow--primary btn--block">
              Continue Shopping
              <svg class="icon icon__right-arrow">
                <use xlink:href="/images/sprite.svg#right_arrow"></use>
              </svg></button></a>
        </div>
        <!-- Secondary Button -->
        <div>
          <a href="profile.html"><button class="btn btn--secondary btn--block">
              Order History
            </button></a>
        </div>
      </div>
    </div>
    <div class="card__overlay"></div>
  </section>

  <!-- card payment -->
  <section class="payment-card__wrapper">
    <section class="payment-card">
      <div class="card__heading">
        <h2>EAZZL</h2>
        <svg cancel-btn class="icon icon--navbar">
          <use xlink:href="/images/sprite.svg#cancle"></use>
        </svg>
      </div>
      <div class="card__payment-wrapper">
        <div card-payment-btn class="card__payment-option active">
          <h3>Cards</h3>
        </div>
        <div mobile-payment-btn class="card__payment-option">
          <h3>Mobile Banking</h3>
        </div>
      </div>

      <form payment-form action="">
        <!-- card payment form -->
        <div card-payment-form class="card__payment-from active">
          <div class="card__payment-method__icons">
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-visa"></i>
          </div>

          <div class="input__wrapper">
            <input id="card-number" class="input" placeholder="Enter Card Number" type="tel" />
            <i id="success-sign" class="fa-solid fa-circle-check"></i>
            <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
            <p class="error-text">Error Message</p>
          </div>

          <div class="input__name">
            <div class="input__wrapper">
              <input id="month-year" class="input" placeholder="MM/YY" type="text" onfocus="(this.type='month')"
                onblur="if(!this.value)this.type='text'" />

              <i id="success-sign" class="fa-solid fa-circle-check"></i>
              <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
              <p class="error-text">Error Message</p>
            </div>

            <div class="input__wrapper">
              <input id="cvc-cvv" class="input" placeholder="CVC/CVV" type="text" />
              <i id="success-sign" class="fa-solid fa-circle-check"></i>
              <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
              <p class="error-text">Error Message</p>
            </div>
          </div>

          <div class="input__wrapper">
            <input id="card-holder" class="input" placeholder="Card Holder Name" type="text" />
            <i id="success-sign" class="fa-solid fa-circle-check"></i>
            <i id="error-sign" class="fa-solid fa-circle-exclamation"></i>
            <p class="error-text">Error Message</p>
          </div>

          <div class="card__checkbox">
            <div class="input__wrapper">
              <div class="checkbox">
                <input save-card-checkbox style="margin-left: 0" type="checkbox" id="payment-terms-service" />
                <label for="payment-terms-service">Save card and remember me</label>
              </div>
              <div id="terms-error-message" class="">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p class="error-text active">Error Message</p>
              </div>
            </div>

            <p>
              By checking this box you agree to our
              <a href="unavailable_page.html">Terms & Conditions</a> which is
              limited to facilitating your payment to EAZZL
            </p>
          </div>
        </div>

        <!-- mobile banking -->
        <div mobile-banking-options class="mobile-banking__wrapper">

          <div class="mobile-banking__operators grid mobile-banking-grid">
            <img bkash src="/images/mfs/bkash.png" alt="" />
            <img nagad src="/images/mfs/nagad.png" alt="" />
            <img rocket src="/images/mfs/rocket.png" alt="" />
            <img upay src="/images/mfs/upay.png" alt="" />
          </div>


          <div mfs-error-message style="margin-bottom: 10px;" id="terms-error-message" class="card__payment-from">
            <i class="fa-solid fa-circle-exclamation"></i>
            <p class="error-text active">Please select your preferable Mobile Finance Service</p>
          </div>

        </div>

        <!-- Arrow Button -->
        <button class="btn btn__arrow btn__arrow--primary btn--block">
          PAY 12120 BDT
          <svg class="icon icon__right-arrow">
            <use xlink:href="/images/sprite.svg#right_arrow"></use>
          </svg>
        </button>

      </form>
    </section>
    <div payment-card-overlay class="payment-card__overlay"></div>
  </section>

    <!-- Header section -->
    <header>
      <!-- Promotion bar -->
      <div class="promotion-bar">
        <p>Save 5% on Entire Order with Digital Payment</p>
      </div>

      <!-- NavBar -->
      <nav class="nav-wrapper nav-wrapper--homepage">
        <div class="navbar container">
          <!-- Logo -->
          <div class="logo">
            <a href="#">
              <img
                class="nav__logo--icon active"
                src="./images/logo/logo_icon.png"
                alt="Logo Icon"
              />
              <img
                class="nav__logo--text"
                src="./images/logo/logo_text.png"
                alt="Logo Text"
              />
            </a>
          </div>

          <!-- Nav links -->
          <ul class="nav__links">
            <li nav-link class="profile__mobile">
              <a href="profile.html"> Profile </a>
            </li>
            <li nav-link><a href="index.html">Home</a></li>
            <li nav-link nav-link-new-arrivals><a>New Arrivals</a></li>
            <li nav-link nav-link-collections class="collection__navbar">
              <a>Collections</a>
            </li>
            <li nav-link>
              <a href="best_sellers.html">Best Sellers</a>
            </li>
            <li nav-link><a href="sales.html">Sales</a></li>
          </ul>

          <!-- New arrivals dropdown (Nav links) -->
          <ul nav-link-newArrival-wrapper class="nav__links--dropdown">
            <ul>
              <li class="dropdown--heading">
                <a>Men</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Chinos</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Joggers</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Women</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Shalwar Kameez</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Tops</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Leggings</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Kids</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Accessories</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Watches</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Wallet</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Men's Belt</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">Bags</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <svg back-btn-newArrival class="icon icon__left--nav">
              <use xlink:href="/images/sprite.svg#left"></use>
            </svg>
          </ul>

          <!-- Collection dropdown (Nav links) -->
          <ul nav-link-collections-wrapper class="nav__links--dropdown">
            <ul>
              <li class="dropdown--heading">
                <a>Men</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Chinos</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Joggers</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Women</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Shalwar Kameez</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Tops</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Leggings</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Kids</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Panjabi</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">T-Shirts</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Polo</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Jeans</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="dropdown--heading">
                <a>Accessories</a>
                <ul>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Watches</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Wallet</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Men's Belt</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="collections_men_panjabi.html">Bags</a>
                  </li>
                  <li class="dropdown--item">
                    <a href="new_arrivals.html">View All</a>
                  </li>
                </ul>
              </li>
            </ul>
            <svg back-btn class="icon icon__left--nav">
              <use xlink:href="/images/sprite.svg#left"></use>
            </svg>
          </ul>

          <!-- Navbar icons (PC) -->
          <div class="icon-wrapper icon-wrapper-pc">
            <svg search-btn class="icon icon--navbar">
              <use xlink:href="/images/sprite.svg#search"></use>
            </svg>
            <a bag-btn class="nav__icon-bag" href="your_bag.html">
              <svg class="icon icon--navbar navbar__bag-icon">
                <use xlink:href="/images/sprite.svg#bag"></use>
              </svg>
              <div class="bag__notification">
                <p class="bag__product-count"></p>
              </div>
            </a>
            <a href="profile.html">
              <svg class="icon icon--navbar icon-nav__profile">
                <use xlink:href="/images/sprite.svg#profile"></use>
              </svg>
            </a>
          </div>

          <!-- Navbar icons (Mobile) -->
          <div class="icon-wrapper icon-wrapper-mobile">
            <svg search-btn class="icon icon--navbar">
              <use xlink:href="/images/sprite.svg#search"></use>
            </svg>
            <a class="nav__icon-bag" href="your_bag.html">
              <svg class="icon icon--navbar navbar__bag-icon">
                <use xlink:href="/images/sprite.svg#bag"></use>
              </svg>
              <div class="bag__notification">
                <p class="bag__product-count"></p>
              </div>
            </a>
            <div class="hamburger" id="hamburger">
              <div>
                <span class="line-1"></span>
                <span class="line-2"></span>
              </div>
            </div>
          </div>

          <!-- Bag popup -->
          <div bag-wrapper class="bag__wrapper">
            <!-- When bag is empty -->
            <div empty-bag class="empty-bag active">
              <h3>Your bag is empty</h3>
            </div>

            <!-- When there is product or products in bag -->
            <div bag-items class="items-bag active">
              <h3 class="items-bag__title">In Your Bag</h3>
              <!-- Selected Items -->
              <section class="bag-items__wrapper">
                <!-- Item 1 -->
                <div class="bag__shipping-item">
                  <img
                    class="shipping-item__image"
                    src="/images/product_image/2.jpg"
                    alt="Product image"
                  />
                  <div class="bag__selected-item">
                    <h3>Eid Collection Panjabi</h3>
                    <p>Product-code: ABCDEF</p>
                    <p>Color: Black</p>
                    <h3>BDT 12,120</h3>
                    <i class="fa-solid fa-trash-can bag__item-delete"></i>
                  </div>
                </div>
                <!-- Item 2 -->
                <div class="bag__shipping-item">
                  <img
                    class="shipping-item__image"
                    src="/images/product_image/3.jpg"
                    alt="Product image"
                  />
                  <div class="bag__selected-item">
                    <h3>Eid Collection Panjabi</h3>
                    <p>Product-code: ABCDEF</p>
                    <p>Color: Black</p>
                    <h3>BDT 12,120</h3>
                    <i class="fa-solid fa-trash-can bag__item-delete"></i>
                  </div>
                </div>
              </section>

              <div class="flex space-between bag__subtotal">
                <h3>Subtotal</h3>
                <h3>BDT 12,000</h3>
              </div>

              <!-- View bag Btn (Primary Btn) -->
              <a href="your_bag.html"
                ><button class="btn btn--primary btn--block">
                  View Bag
                </button></a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>
 

  <!-- Body -->
  <main class="nav--margin-100">
    <section class="gap--4x8">
      <section class="grid stage__grid--1x2 container">
        <!-- Stage -->
        <section class="stage-map stage">
          <div>
            <p class="done-serial">1</p>
            <p class="processing">Your Bag</p>
          </div>
          <div>
            <p class="done-serial">2</p>
            <p class="processing">Checkout</p>
          </div>
          <div>
            <p class="done-serial">3</p>
            <p class="processing">Payment</p>
          </div>
        </section>
        <!-- Order Summary (Right Section) -->
        <section class="input--card product-summary">
          <section class="order-section__wrapper">
            <div class="section__heading flex space-between">
              <h2 class="section__title--noMargin">Order Summary</h2>
              <!-- Link button -->
              <a class="btn-link" href="your_bag.html">Edit</a>
            </div>

            <div class="section-list flex space-between">
              <p>2 items</p>
              <p>BDT 12,000</p>
            </div>
            <div class="section-list flex space-between">
              <p>Delivery</p>
              <p>BDT 120</p>
            </div>
            <div class="section-list flex space-between">
              <p>Vat</p>
              <p>Included</p>
            </div>
            <div class="section-list--discount section-list flex space-between">
              <p>
                Digital Payment Discount <br />
                (-5%)
              </p>
              <p>-BDT 600</p>
            </div>
            <div class="section-list__subtotal flex space-between">
              <h3>Total</h3>
              <h3>BDT 12,120</h3>
            </div>
          </section>
        </section>

        <!-- Payment Method (Left Section) -->
        <section class="input--card shopping-details">
          <form payment-method-form action="">

            <section class="shipping-method shipping-method--noMargin">
              <h2 class="section__title">Choose Your Payment Method</h2>

              <div card-2-wrapper class="btn-card__wrapper">
                <div card-2 class="btn-card">
                  <h3>Digital Payment</h3>
                  <p>
                    Save 5% on entire order with digital payment. Pay through
                    a wide range of secured online payment systems
                  </p>
                </div>
                <div id="terms-error-message" class="">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  <p class="error-text active">Error Message</p>
                </div>
              </div>
            </section>
        </section>

        <!-- Condition section -->
        <div class="input__wrapper checkbox-condition">
          <div terms class="checkbox flex ">
            <input checkbox type="checkbox" id="terms-service" />
            <label for="terms-service">I read and accept <a href="unavailable_page.html">Privacy Policy</a>,
              <a href="unavailable_page.html">Exchange & Return</a> and
              <a href="unavailable_page.html">Terms & Conditions</a></label>
          </div>
          <div id="terms-error-message" class="">
            <i class="fa-solid fa-circle-exclamation"></i>
            <p class="error-text active">Error Message</p>
          </div>
        </div>
      </section>

      <!-- Arrow Button -->
      <button type="submit" class="btn btn__arrow btn__arrow--primary btn__arrow--250">
        Confirm Order
        <svg class="icon icon__right-arrow">
          <use xlink:href="/images/sprite.svg#right_arrow"></use>
        </svg></button>
      </form>
    </section>
  </main>

 <!-- Primary footer -->
 <footer class="footer-primary">
  <div class="container">
    <section class="footer__top-section grid">
      <!-- About eazzl section -->
      <div>
        <div section-title class="footer__section-title active">
          <h3>About Eazzl</h3>
        </div>
        <div class="footer__section-content">
          <a href="unavailable_page.html">Our Stories</a>
          <a href="unavailable_page.html">Careers</a>
          <a href="unavailable_page.html">Investors</a>
        </div>
      </div>

      <!-- Get help section -->
      <div>
        <div section-title class="footer__section-title active">
          <h3>Get Help</h3>
        </div>
        <div class="footer__section-content">
          <a href="unavailable_page.html">Size Guide</a>
          <a href="unavailable_page.html">Order Status</a>
          <a href="unavailable_page.html">Shipping</a>
          <a href="unavailable_page.html">Exchange or Return</a>
          <a href="unavailable_page.html">Payment Option</a>
        </div>
      </div>

      <!-- Support section -->
      <div>
        <div section-title class="footer__section-title active">
          <h3>Support</h3>
        </div>
        <div class="footer__section-content active">
          <a href="contact_us.html">Contact Us</a>
          <p>Service Center no. 01700000000</p>
          <p>support@eazzl.com</p>
        </div>
      </div>

      <!-- Brand -->
      <div class="footer__brand">
        <a href="#">
          <img class="footer-logo" src="/images/logo/logo.png" alt="Logo" />
        </a>
        <div class="footer__brand-social-icon">
          <a href="https://eazzl.page.link/eazzl" target="blank">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://eazzl.page.link/eazzlinstagram" target="blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://twitter.com" target="blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </div>
      </div>
    </section>

    <!-- Footer bottom section -->
    <section class="footer-bottom">
      <div class="footer__bottom-section">
        <div class="footer__copyright">
          <p>
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Eazzl, Inc. All Rights Reserved
          </p>
        </div>

        <div class="footer__policy">
          <a href="unavailable_page.html">Payment Policy</a>
          <a href="unavailable_page.html">Shipping Policy</a>
          <a href="unavailable_page.html">Terms & Conditions</a>
        </div>
      </div>
    </section>
  </div>
</footer>
</body>

</html>