{% extends "_base.html" %}
{% load static %}

{% block content %}
    <!-- Body -->
    <main class="nav--margin-100">
      <!-- Top navigation and total product counter -->
      <div class="link__map-wrapper container">
        <div class="link__map">
          <a href="{% url "home" %}">Home</a>
          <span>|</span>
          <a>Sales</a>
        </div>
        <div class="item-total">
          <p item-count></p>
        </div>
      </div>

      <!-- All products -->
      <section class="product-grid grid ultimate-product__grid--1x3 container">
        <!-- Sale product 1 -->
        <a href="product_page.html">
          <div class="product-card">
            <div class="card__image-wrapper">
              <img
                class="card__image card__image-front"
                src="/images/product_image/1.jpg"
                alt="Product image"
              />
              <img
                class="card__image card__image-hover"
                src="/images/product_image/1 Hover.jpg"
                alt="Product image"
              />
              <div class="card-sales">
                50% <br />
                OFF
              </div>
            </div>
            <div class="card__details-wrapper">
              <h3 class="card__title">Nike Shoes</h3>
              <p class="card__product-code">Product-code: ABCDEF</p>
              <h3 class="card__price">BDT 3,000</h3>
              <h3 class="card__price card__price-previous">BDT 6,000</h3>
              <div class="card__details-wrapper"></div>
              <div class="card__details-wrapper"></div>
              <div class="card__size">
                <span class="card__size--available">
                  <p>S</p>
                </span>
                <span class="card__size--unavailable">
                  <p>M</p>
                </span>
                <span class="card__size--available">
                  <p>L</p>
                </span>
                <span class="card__size--unavailable">
                  <p>XL</p>
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- Sale product 2 -->
        <a href="product_page.html">
          <div class="product-card">
            <div class="card__image-wrapper">
              <img
                class="card__image card__image-front"
                src="/images/product_image/2.jpg"
                alt="Product image"
              />
              <img
                class="card__image card__image-hover"
                src="/images/product_image/2 Hover.jpg"
                alt="Product image"
              />
              <div class="card-sales">
                50% <br />
                OFF
              </div>
            </div>
            <div class="card__details-wrapper">
              <h3 class="card__title">Headphone</h3>
              <p class="card__product-code">Product-code: ABCDEF</p>
              <h3 class="card__price">BDT 3,000</h3>
              <h3 class="card__price card__price-previous">BDT 6,000</h3>
              <div class="card__details-wrapper"></div>
              <div class="card__details-wrapper"></div>
              <div class="card__size">
                <span class="card__size--available">
                  <p>S</p>
                </span>
                <span class="card__size--unavailable">
                  <p>M</p>
                </span>
                <span class="card__size--available">
                  <p>L</p>
                </span>
                <span class="card__size--unavailable">
                  <p>XL</p>
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- Sale product 3 -->
        <a href="product_page.html">
          <div class="product-card">
            <div class="card__image-wrapper">
              <img
                class="card__image card__image-front"
                src="/images/product_image/3.jpg"
                alt="Product image"
              />
              <img
                class="card__image card__image-hover"
                src="/images/product_image/3 Hover.jpg"
                alt="Product image"
              />
              <div class="card-sales">
                50% <br />
                OFF
              </div>
            </div>
            <div class="card__details-wrapper">
              <h3 class="card__title">Women's T-shirt</h3>
              <p class="card__product-code">Product-code: ABCDEF</p>
              <h3 class="card__price">BDT 3,000</h3>
              <h3 class="card__price card__price-previous">BDT 6,000</h3>
              <div class="card__details-wrapper"></div>
              <div class="card__details-wrapper"></div>
              <div class="card__size">
                <span class="card__size--available">
                  <p>S</p>
                </span>
                <span class="card__size--unavailable">
                  <p>M</p>
                </span>
                <span class="card__size--available">
                  <p>L</p>
                </span>
                <span class="card__size--unavailable">
                  <p>XL</p>
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- Sale product 4 -->
        <a href="product_page.html">
          <div class="product-card">
            <div class="card__image-wrapper">
              <img
                class="card__image card__image-front"
                src="/images/product_image/4.jpg"
                alt="Product image"
              />
              <img
                class="card__image card__image-hover"
                src="/images/product_image/4 Hover.jpg"
                alt="Product image"
              />
              <div class="card-sales">
                50% <br />
                OFF
              </div>
            </div>
            <div class="card__details-wrapper">
              <h3 class="card__title">Men's Shirt</h3>
              <p class="card__product-code">Product-code: ABCDEF</p>
              <h3 class="card__price">BDT 3,000</h3>
              <h3 class="card__price card__price-previous">BDT 6,000</h3>
              <div class="card__details-wrapper"></div>
              <div class="card__details-wrapper"></div>
              <div class="card__size">
                <span class="card__size--available">
                  <p>S</p>
                </span>
                <span class="card__size--unavailable">
                  <p>M</p>
                </span>
                <span class="card__size--available">
                  <p>L</p>
                </span>
                <span class="card__size--unavailable">
                  <p>XL</p>
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- Sale product 5 -->
        <a href="product_page.html">
          <div class="product-card">
            <div class="card__image-wrapper">
              <img
                loading="lazy"
                class="card__image card__image-front"
                src="/images/product_image/5.jpg"
                alt="Product image"
              />
              <img
                loading="lazy"
                class="card__image card__image-hover"
                src="/images/product_image/5 Hover.jpg"
                alt="Product image"
              />
              <div class="card-sales">
                50% <br />
                OFF
              </div>
            </div>
            <div class="card__details-wrapper">
              <h3 class="card__title">Men's Watch</h3>
              <p class="card__product-code">Product-code: ABCDEF</p>
              <h3 class="card__price">BDT 3,000</h3>
              <h3 class="card__price card__price-previous">BDT 6,000</h3>
              <div class="card__details-wrapper"></div>
              <div class="card__details-wrapper"></div>
              <div class="card__size">
                <span class="card__size--available">
                  <p>S</p>
                </span>
                <span class="card__size--unavailable">
                  <p>M</p>
                </span>
                <span class="card__size--available">
                  <p>L</p>
                </span>
                <span class="card__size--unavailable">
                  <p>XL</p>
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- Sale product 6 -->
        <a href="product_page.html">
          <div class="product-card">
            <div class="card__image-wrapper">
              <img
                loading="lazy"
                class="card__image card__image-front"
                src="/images/product_image/6.jpg"
                alt="Product image"
              />
              <img
                loading="lazy"
                class="card__image card__image-hover"
                src="/images/product_image/6 Hover.jpg"
                alt="Product image"
              />
              <div class="card-sales">
                50% <br />
                OFF
              </div>
            </div>
            <div class="card__details-wrapper">
              <h3 class="card__title">Women's Sunglass</h3>
              <p class="card__product-code">Product-code: ABCDEF</p>
              <h3 class="card__price">BDT 3,000</h3>
              <h3 class="card__price card__price-previous">BDT 6,000</h3>
              <div class="card__details-wrapper"></div>
              <div class="card__details-wrapper"></div>
              <div class="card__size">
                <span class="card__size--available">
                  <p>S</p>
                </span>
                <span class="card__size--unavailable">
                  <p>M</p>
                </span>
                <span class="card__size--available">
                  <p>L</p>
                </span>
                <span class="card__size--unavailable">
                  <p>XL</p>
                </span>
              </div>
            </div>
          </div>
        </a>

        <!-- Sale product 7 -->
        <a href="product_page.html">
          <div class="product-card">
            <div class="card__image-wrapper">
              <img
                loading="lazy"
                class="card__image card__image-front"
                src="/images/product_image/7.jpg"
                alt="Product image"
              />
              <img
                loading="lazy"
                class="card__image card__image-hover"
                src="/images/product_image/7 Hover.jpg"
                alt="Product image"
              />
              <div class="card-sales">
                50% <br />
                OFF
              </div>
            </div>
            <div class="card__details-wrapper">
              <h3 class="card__title">Men's Wallet</h3>
              <p class="card__product-code">Product-code: ABCDEF</p>
              <h3 class="card__price">BDT 3,000</h3>
              <h3 class="card__price card__price-previous">BDT 6,000</h3>
              <div class="card__details-wrapper"></div>
              <div class="card__details-wrapper"></div>
              <div class="card__size">
                <span class="card__size--available">
                  <p>S</p>
                </span>
                <span class="card__size--unavailable">
                  <p>M</p>
                </span>
                <span class="card__size--available">
                  <p>L</p>
                </span>
                <span class="card__size--unavailable">
                  <p>XL</p>
                </span>
              </div>
            </div>
          </div>
        </a>
      </section>
      <button class="btn__bottom-margin btn btn--primary btn__arrow--220">
        Load More
      </button>
    </main>

    <!-- script -->
    <script>
      //Total Product Counter
      const productCard = document.querySelectorAll('.product-card');
      const itemCount = document.querySelector('[item-count]');

      function totalItemCount() {
        itemCount.innerText = `${productCard.length} items`;
      }
      totalItemCount();
    </script>
  </body>

{% endblock content %}
